openapi: 3.0.1
info:
  title: SOI API
  description: SOI 애플리케이션을 위한 REST API 문서
  contact:
    name: SOI
    url: https://github.com/NewdawnSOI
    email: itisnewdawn@gmail.com
  version: v1.0.0
servers:
- url: https://newdawnsoi.site
  description: 현재 서버
- url: http://localhost:8080
  description: 로컬 개발 서버
tags:
- name: User API
  description: 사용자 관리 API
- name: friend API
  description: 친구 관리 API
paths:
  /user/login:
    post:
      tags:
      - User API
      summary: 사용자 로그인(전화번호로)
      description: 인증이 완료된 전화번호로 로그인을 합니다.
      operationId: login
      parameters:
      - name: phone
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoUserRespDto"
  /user/create:
    post:
      tags:
      - User API
      summary: 사용자 생성
      description: 새로운 사용자를 등록합니다.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateReqDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoUserRespDto"
  /user/auth:
    post:
      tags:
      - User API
      summary: 전화번호 인증
      description: 사용자가 입력한 전화번호로 인증을 발송합니다.
      operationId: authSMS
      parameters:
      - name: phone
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /media/upload:
    post:
      tags:
      - "사진, 비디오, 음성 파일을 전송하는 API"
      summary: 미디어 업로드
      description: "파일을 업로드합니다."
      operationId: uploadMedia
      parameters:
      - name: types
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: "업로드할 파일"
              required:
              - file
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoListString"
  /friend/update:
    post:
      tags:
      - friend API
      summary: 친구 상태 업데이트
      description: "친구 관계 id, 상태 : ACCEPTED, BLOCKED, CANCELLED 를 받아 상태를 업데이트합니다."
      operationId: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FriendUpdateRespDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoFriendRespDto"
  /friend/unblock:
    post:
      tags:
      - friend API
      summary: 친구 차단 해제
      description: |-
        차단 해제 요청을 한 사용자의 id : requesterId에
        차단 해제를 당하는 사용자의 id : receiverId에 담아서 요청차단 해제후에는 친구 관계가 완전 초기화 (삭제) 됩니다.
      operationId: unBlockFriend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FriendReqDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoBoolean"
  /friend/get-all:
    get:
      tags:
      - friend API
      summary: 모든 친구 조회
      description: 유저의 id (user_id 말고 그냥 id)를 통해 모든 친구를 조회합니다.
      operationId: getAllFriend
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoListUserFindRespDto"
    post:
      tags:
      - friend API
      summary: 친구 삭제
      description: |-
        삭제 요청을 한 사용자의 id : requesterId에
        삭제를 당하는 사용자의 id : receiverId에 담아서 요청
        만약 삭제후, 서로가 삭제된 관계면 친구 관계 컬럼을 삭제함
      operationId: deleteFriend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FriendReqDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoBoolean"
  /friend/create:
    post:
      tags:
      - friend API
      summary: 친구 추가
      description: 사용자 id를 통해 친구추가를 합니다.
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FriendReqDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoFriendRespDto"
  /friend/block:
    post:
      tags:
      - friend API
      summary: 친구 차단
      description: |-
        차단 요청을 한 사용자의 id : requesterId에
        차단을 당하는 사용자의 id : receiverId에 담아서 요청
      operationId: blockFriend
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FriendReqDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoBoolean"
  /user/id-check:
    get:
      tags:
      - User API
      summary: 사용자 id 중복 체크
      description: "사용자 id 중복 체크합니다. 사용가능 : true, 사용불가(중복) : false"
      operationId: idCheck
      parameters:
      - name: userId
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoBoolean"
  /user/get-all:
    get:
      tags:
      - User API
      summary: 모든유저 조회
      description: 모든유저를 조회합니다.
      operationId: getAllUsers
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoListUserFindRespDto"
  /user/find-by-keyword:
    get:
      tags:
      - User API
      summary: 키워드로 사용자 검색
      description: 키워드가 포함된 userId를 갖고있는 사용자를 전부 검색합니다.
      operationId: findUser
      parameters:
      - name: userId
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoListUserRespDto"
  /media/get-url:
    get:
      tags:
      - "사진, 비디오, 음성 파일을 전송하는 API"
      summary: Presigned URL 요청
      description: DB에 저장된 S3 key를 입력하면 1시간 유효한 접근 URL을 반환합니다.
      operationId: getPresignedUrl
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoListString"
  /user/delete:
    delete:
      tags:
      - User API
      summary: Id로 사용자 삭제
      description: Id 로 사용자를 삭제합니다.
      operationId: deleteUser
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiResponseDtoUserRespDto"
components:
  schemas:
    ApiResponseDtoUserRespDto:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/UserRespDto"
        message:
          type: string
    UserRespDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: string
    UserCreateReqDto:
      type: object
      properties:
        name:
          type: string
        userId:
          type: string
        phone:
          type: string
        birth_date:
          type: string
        profileImage:
          type: string
        serviceAgreed:
          type: boolean
        privacyPolicyAgreed:
          type: boolean
        marketingAgreed:
          type: boolean
    ApiResponseDtoListString:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: string
        message:
          type: string
    FriendUpdateRespDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - PENDING
          - ACCEPTED
          - BLOCKED
          - CANCELLED
    ApiResponseDtoFriendRespDto:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/FriendRespDto"
        message:
          type: string
    FriendRespDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        requesterId:
          type: integer
          format: int64
        receiverId:
          type: integer
          format: int64
        notificationId:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - PENDING
          - ACCEPTED
          - BLOCKED
          - CANCELLED
        createdAt:
          type: string
          format: date-time
    FriendReqDto:
      type: object
      properties:
        requesterId:
          type: integer
          format: int64
        receiverId:
          type: integer
          format: int64
    ApiResponseDtoBoolean:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: boolean
        message:
          type: string
    ApiResponseDtoListUserFindRespDto:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserFindRespDto"
        message:
          type: string
    UserFindRespDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        userId:
          type: string
        profileImage:
          type: string
        active:
          type: boolean
    ApiResponseDtoListUserRespDto:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserRespDto"
        message:
          type: string
